[project]
	description = RepoXplorer is a small stats and charts utility for GIT repositories
[access "refs/*"]
  read = group repoxplorer-core
  owner = group repoxplorer-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group repoxplorer-core
	label-Code-Review = -2..+2 group repoxplorer-ptl
	label-Verified = -2..+2 group repoxplorer-ptl
	label-Workflow = -1..+1 group repoxplorer-core
	label-Workflow = -1..+1 group repoxplorer-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group repoxplorer-ptl
	read = group Registered Users
    read = group repoxplorer-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group repoxplorer-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
[access "refs/tags/*"]
	pushTag = +force group repoxplorer-ptl
	forgeAuthor = group repoxplorer-ptl
	forgeCommitter = group repoxplorer-ptl
	push = group repoxplorer-ptl
	create = group repoxplorer-ptl
