.jumbotron {
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-left: 0.5%;
}

#groups-index {
    font-size: 150%;
}

#projects-filter-form {
    width: 100%;
}

#projects-filter-input {
    width: 80%;
}
