<%inherit file="layout.html" />

<%def name="title()">
  [${name}] - Contributor page
</%def>

<div class="row-fluid">

 <div class="col-md-12">
  <div class="jumbotron">
   <h2><a href=contributor.html?cid=${cid}>${name}</a>'s contributor details</h2>
  </div>
 </div>

</div>

<div class="row-fluid">

 <div class="col-md-4">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Contributor infos (based on selected filters)</b></h3>
   </div>
   <div class="panel-body container-fluid">
    <div id="gravatar" class="col-md-4">
     <div><img src="https://www.gravatar.com/avatar/${gravatar}?s=150&d=wavatar" title="${name}"></div>
    </div>
    <div id="infos" class="col-md-8">
     <div><b>Full Name:</b> ${name}</div>
     % if not empty:
     <div><b>Known emails:</b> ${known_emails_amount}</div>
     <div><b>Commits:</b> ${commits_amount}</div>
     <div><b>Line modifieds:</b> ${line_modifieds_amount}</div>
     <div><b>Projects contributed:</b> ${projects_amount}</div>
     <div><b>Repository refs contributed:</b> ${repos_amount}</div>
     <div><b>Activity duration:</b> ${duration}</div>
     <div><b>Date of first commits:</b> ${first}</div>
     <div><b>Date of last commits:</b> ${last}</div>
     <div><b>Change average TTL (Time To Land):</b> ${ttl_average}</div>
     % endif
    </div>
   </div>
  </div>
 </div>

 <div class="col-md-8">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Filters</b></h3>
   </div>
   <div class="panel-body container-fluid">
    <div id="filters">
     <div class="col-md-6">
      <div class="form-group">
       <div class="modal fade bs-modal-lg" id="releasesmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
          <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="gridSystemModalLabel">Pick a release date</h4>
          </div>
           <div class="modal-body">
           <label for="projects">Select a project to retrieve release dates</label>
           <select id='projects' class="form-control"></select>
           <label for="releases">Select a release date</label>
           <select id='releases' class="form-control"></select>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-primary" id="selectrelease" data-dismiss="modal">Pick that release date</button>
          </div>
         </div>
        </div>
       </div>
       <label for="fromdatepicker">From date</label><button type="button" id="pickuprelease" class="btn btn-link" data-toggle="modal" data-target="#releasesmodal" data-datetarget="fromdatepicker">(pick a release date)</button>
       <input type="text" class="form-control" id="fromdatepicker"></span>
      </div>
      <div class="form-group">
       <label for="todatepicker">To date</label><button type="button" id="pickuprelease" class="btn btn-link" data-toggle="modal" data-target="#releasesmodal" data-datetarget="todatepicker">(pick a release date)</button>
       <input type="text" class="form-control" id="todatepicker"></span>
      </div>
      <div class="checkbox">
      <label><input type="checkbox" id="inc_merge_commit">Include merge commits</label>
      </div>
      <div class="checkbox">
      <label><input type="checkbox" id="inc_repos_detail">Display repositories details</label>
      </div>
     </div>
     <div class="col-md-6 form-group">
     </div>
    </div>
    <div><input id="filter" type="button" value="Apply filter" class="btn pull-right" /></div>
   </div>
  </div>
 </div>

</div>
% if not empty:
<div class="row-fluid">

 <div class="col-md-12">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Commits history</b></h3>
   </div>
   <div class="panel-body">
    <div id="history">
    </div>
   </div>
  </div>
 </div>

</div>

<div class="row-fluid">

 <div class="col-md-6">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Top projects by commit</b></h3>
   </div>
   <div class="panel-body">
    <div id="topauthors">
     <div id="topauthors_table">
      <table class="table table-striped">
       <tr>
        <th class="col-md-1">Rank</th>
        <th>Name</th>
        <th>Amount</th>
       <tr>
       % for n, p in enumerate(repos, start=1):
       <tr>
        <td>${n}</td>
        % if not inc_repos_detail:
          <td><a href="project.html?pid=${p[0]}">${p[0]}</a></td>
        % else:
          <td>${p[0]}</td>
        % endif
        <td>${p[1]}</td>
       <tr>
       % endfor
      </table>
     </div>
    </div>
   </div>
  </div>
 </div>

 <div class="col-md-6">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Top projects by line modifieds</b></h3>
   </div>
   <div class="panel-body">
    <div id="topauthors">
     <div id="topauthors_table">
      <table class="table table-striped">
       <tr>
        <th class="col-md-1">Rank</th>
        <th>Name</th>
        <th>Amount</th>
       <tr>
       % for n, p in enumerate(repos_line_mdfds, start=1):
       <tr>
        <td>${n}</td>
        % if not inc_repos_detail:
          <td><a href="project.html?pid=${p[0]}">${p[0]}</a></td>
        % else:
          <td>${p[0]}</td>
        % endif
        <td>${p[1]}</td>
       <tr>
       % endfor
      </table>
     </div>
    </div>
   </div>
  </div>
 </div>

<div class="row-fluid">
 <div class="col-md-12">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Contributor commits</b><i> (Limited to 100 pages)</i></h3>
   </div>
   <div id="commits-table">
   </div>
   <div class="panel-footer">
    <div class="block-center">
     <div id="pagination">
    </div>
   </div>
  </div>
 </div>
</div>

</div>

<script type="text/javascript">
 var histo = jQuery.parseJSON('${histo}');
 gen_histo(histo);
 contributor_page_init('${cid}');
 install_paginator(undefined, undefined, '${cid}', undefined, '${commits_amount}');
 get_commits(undefined, undefined, '${cid}', undefined, undefined);
</script>
% else:
<div class="row-fluid">
 <div class="col-md-12">
  <div class="alert alert-warning text-center">
   <strong>This contributor hasn't any commit or the filter you setup returned nothing.</strong>
  </div>
 </div>
</div>
<script type="text/javascript">
 contributor_page_init('${cid}');
</script>
% endif
