<%inherit file="layout.html" />

<%def name="title()">
  [RepoXplorer] - Projects listing
</%def>

<div class="row-fluid">

 <div class="col-md-12">
  <div class="jumbotron">
   <h3>Listing of projects, GIT repositories, and tags referenced in the database. You can click on them in order to display details.</h3>
  </div>
 </div>

<div class="row-fluid">

 <div class="col-md-12">

  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Tags list</b></h3>
   </div>
   <div class="panel-body">
     <h4>
     % for tag in tags:
     <a href="project.html?tid=${tag}">${tag}</a>
     % endfor
     </h4>
   </div>
  </div>

  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Projects list</b></h3>
   </div>
   <table class="table">
    <tr>
     <th class="col-md-3">Project names</th>
     <th class="col-md-5">Repository refs</th>
     <th class="col-md-4">Tags</th>
    <tr>
     % for project, repolist in projects.items():
     <tr>
      <td><a href="project.html?pid=${project}"><b>${project}</b></a></td>
      <td>
       % for repo in repolist:
        <p><a href="project.html?pid=${project}&inc_repos=${repo['name']}:${repo['branch']}">${repo['uri']}:${repo['branch']}</a></p>
       % endfor
      </td>
      <td>
       % for repo in repolist:
        <p>
        % for tag in repo['tags']:
        <a href="project.html?tid=${tag}">${tag}</a>
        % endfor
        </p>
       % endfor
      </td>
     <tr>
     % endfor
   </table>
  </div>

 </div>

</div>
