<%inherit file="layout.html" />

<%def name="title()">
  [RepoXplorer] - Projects listing
</%def>

<div class="row-fluid">

 <div class="col-md-12">
  <div class="jumbotron">
   <h3>Listing of the projects referenced in the database. You can click on it in order to display details.</h3>
  </div>
 </div>

<div class="row-fluid">

 <div class="col-md-12">

  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Projects list</b></h3>
   </div>
   <table class="table">
    <tr>
     <th class="col-md-3">Project id</th>
     <th>Sub-projects</th>
    <tr>
     % for project, plist in projects.items():
     <tr>
      <td><a href="project.html?pid=${project}"><b>${project}</b></a></td>
      <td>
       % for p in plist:
        <p><a href="project.html?pid=${project}&inc_projects=${p['name']}:${p['branch']}">${p['uri']}:${p['branch']}</a></p>
       % endfor
      </td>
     <tr>
     % endfor
   </table>
  </div>

 </div>

</div>
