<%inherit file="layout.html" />

<%def name="title()">
  [RepoXplorer] - Welcome
</%def>

<div class="row-fluid">
 <div class="col-md-2"></div>
 <div class="col-md-8">
  <div class="panel panel-default">
   <div class="panel-body" align="center">
    <p><h1>Welcome on RepoXplorer</h1></p>
       <br>
       <p><h2>${projects} projects across ${repos} Git repositories are indexed here.
           You'll find some stats about them and their contributors. Please use the top menu above to
           navigate through the pages.</h2></p>
       <br>
       <p><h2>${customtext}</h2></p>
   </div>
  </div>
 </div>
 <div class="col-md-2"></div>
</div>
