<html>
    <head>
        <title>${self.title()}</title>
        <meta charset="UTF-8">
        ${self.style()}
        ${self.javascript()}
    </head>
    <body>
      <div class="container-fluid">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="index.html">RepoXplorer</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="index.html">Projects Listing</a></li>
                <li><a href="contributors.html">Search contributors</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="http://github.com/morucci/repoxplorer">About</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      ${self.body()}
    </body>
</html>

<%def name="title()">
  Welcome to Repoxplorer !
</%def>

<%def name="style()">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"
          integrity="sha256-p6xU9YulB7E2Ic62/PX+h59ayb3PBJ0WFTEQxq0EjHw="
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="css/repoxplorer.css" />
    <link rel="stylesheet"
          href="css/simplePagination.css">
</%def>
<%def name="javascript()">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.1.6/d3.min.js"
            integrity="sha256-kLF4pwLwLIcW+GcjifgNyR+U0Av0D+llBBnWV1XqstI="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"
	    integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
	    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"
            integrity="sha256-Gn7MUQono8LUxTfRA0WZzJgTua52Udm1Ifrk5421zkA="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dimple/2.2.0/dimple.latest.min.js"
            integrity="sha256-gbJlFMNFaZj+hp8dkgsyEPGs88d6bfqdaQwNrnN8Yjc="
            crossorigin="anonymous"></script>
    <script src="javascript/jquery.simplePagination.js"></script>
    <script src="javascript/repoxplorer.js"></script>
</%def>
