<html>
    <head>
        <title>${self.title()}</title>
        <meta charset="UTF-8">
        ${self.style()}
        ${self.javascript()}
    </head>
    <body>
        ${self.body()}
    </body>
</html>

<%def name="title()">
  Welcome to Repoxplorer !
</%def>

<%def name="style()">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/simplePagination.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-3.3.6.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-theme-3.3.6.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</%def>

<%def name="javascript()">
    <script src="/javascript/shared.js"></script>
    <script src="/javascript/d3.v3.min.js"></script>
    <script src="/javascript/dimple.v2.1.6.min.js"></script>
    <script src="/javascript/jquery-1.12.3.min.js"></script>
    <script src="/javascript/jquery-ui-1.11.4.min.js"></script>
    <script src="/javascript/jquery.simplePagination.js"></script>
    <script src="/javascript/bootstrap-3.3.6.min.js"></script>
</%def>
