<%inherit file="layout.html" />

<%def name="title()">
  % if pid:
  RepoXplorer - ${pid} - project stats page
  % else:
  RepoXplorer - ${tid} - tagged repositories stats page
  % endif
</%def>

<div class="row-fluid">

 <div class="col-md-12">
  <div class="jumbotron">
   % if pid:
   <h2><a href=project.html?pid=${pid}>${pid}</a>'s project details</h2>
   % else:
   <h2><a href=project.html?tid=${tid}>${tid}</a>'s tag details</h2>
   % endif
  </div>
 </div>

</div>

<div class="row-fluid">

 <div class="col-md-3">
  <div class="panel panel-default">
   <div class="panel-heading">
    % if pid:
    <h3 class="panel-title text-left"><b>Project infos (based on selected filters)</b></h3>
    % else:
    <h3 class="panel-title text-left"><b>Tagged repositories infos (based on selected filters)</b></h3>
    % endif
   </div>
   <div class="panel-body">
    <div id="infos">
     % if not empty:
     <% repos_len = len(repos) %>
     <div><b>Repository refs:</b> ${repos_len}</div>
     <div><b>Commits:</b> ${commits_amount}</div>
     <div><b>Authors:</b> ${authors_amount}</div>
     <div><b>Activity duration:</b> ${duration}</div>
     <div><b>Date of first commits:</b> ${first}</div>
     <div><b>Date of last commits:</b> ${last}</div>
     <div><b>Change average TTL (Time To Land):</b> ${ttl_average}</div>
     % endif
    </div>
   </div>
  </div>
 </div>

 <div class="col-md-9">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Filters</b></h3>
   </div>
   <div class="panel-body container-fluid">
    <div id="filters">
     <div class="col-md-3">
      <div class="form-group">
       <div class="modal fade bs-modal-lg" id="releasesmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
          <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="gridSystemModalLabel">Pick a release date</h4>
          </div>
          <div class="modal-body">
           <select id='releases' class="form-control">
           </select>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-primary" id="selectrelease" data-dismiss="modal">Pick that release date</button>
          </div>
         </div>
        </div>
       </div>
       <label for="fromdatepicker">From date</label><button type="button" id="pickuprelease" class="btn btn-link" data-toggle="modal" data-target="#releasesmodal" data-datetarget="fromdatepicker">(pick a release date)</button>
       <input type="text" class="form-control" id="fromdatepicker"></span>
      </div>
      <div class="form-group">
       <label for="todatepicker">To date</label><button type="button" id="pickuprelease" class="btn btn-link" data-toggle="modal" data-target="#releasesmodal" data-datetarget="todatepicker">(pick a release date)</button>
       <input type="text" class="form-control" id="todatepicker"></span>
      </div>
      <div class="checkbox">
       <label><input type="checkbox" id="inc_merge_commit">Include merge commits</label>
      </div>
     </div>
     <div class="col-md-3 form-group">
      <label for="repositories">Only include selected repository refs</label>
      <select id='repositories' multiple class="form-control">
      % for repo in repos:
       <option>${repo['name']}:${repo['branch']}</option>
      % endfor
      </select>
     </div>
     <div class="col-md-3 form-group">
      <label for="metadata">Filter by a metadata key</label>
      <select id='metadata' class="form-control">
      </select>
      <label for="metadata-values">Select the metadata value</label>
      <select id='metadata-values' class="form-control">
      </select>
      <p></p>
      <input id="add-to-filter" type="button" value="Add selected to filter" class="btn btn-info form-control" />
      <p></p>
      <input id="clean-filter" type="button" value="Clean selected" class="btn btn-info form-control" />
      <p></p>
      <div id="metadata-selected"></div>
     </div>
     <div class="col-md-3 form-group">
      <label for="groups">Exclude a group</label>
      <select id='groups' class="form-control">
      </select>
     </div>
    </div>
    <div><input id="filter" type="button" value="Apply filter" class="btn pull-right" /></div>
   </div>
  </div>
 </div>

</div>

% if not empty:
<div class="row-fluid">
 <div class="col-md-12">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Commits history</b><span id="history-progress"></span></h3>
   </div>
   <div class="panel-body">
    <div id="history">
    </div>
   </div>
  </div>
 </div>
</div>

<div class="row-fluid">
 <div class="col-md-12">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Contributors history</b><span id="history-author-progress"></span></h3>
   </div>
   <div class="panel-body">
    <div id="history_author">
    </div>
   </div>
  </div>
 </div>
</div>

<div class="row-fluid">
 <div class="col-md-6">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Top 25 authors by commit</b></h3>
   </div>
   <div class="panel-body">
    <div id="topauthors_gravatar">
     <div class="row-fluid">
      % for n, i in enumerate(top_authors[0:3], start=1):
      <div class="col-md-4">
       <%
        if n == 1:
         n = "1 st"
        elif n == 2:
         n = "2 nd"
        elif n == 3:
         n = "3 rd"
       %>
       <div align="center"><p><b><h3>${n}</h3></b></p></div>
       <div align="center"><p><b><h4>${i['amount']} commits</h4></b></p></div>
       <div align="center">
        <a href=contributor.html?cid=${i['cid']}>
         <img src="https://www.gravatar.com/avatar/${i['gravatar']}?s=150&d=wavatar" title="${i['name']}">
        </a>
       </div>
       <div align="center"><p><b><h3><a href=contributor.html?cid=${i['cid']}>${i['name']}</a></h3></b></p></div>
      </div>
      % endfor
     </div>
    </div>
    <hr />
    <div id="topauthors">
     <div id="topauthors_table">
      <table class="table table-striped">
       <tr>
        <th class="col-md-1">Rank</th>
        <th>Name</th>
        <th>Amount</th>
      </tr>
       % for n, i in enumerate(top_authors[3:], start=4):
       <tr>
        <td>${n}</td>
        <td></span><span style='padding-right: 5px'><img src="https://www.gravatar.com/avatar/${i['gravatar']}?s=25&d=wavatar" title="${i['name']}"></span><span><b><a href=contributor.html?cid=${i['cid']}>${i['name']}</a></b></span></td>
        <td>${i['amount']}</td>
       </tr>
       % endfor
      </table>
     </div>
    </div>
   </div>
  </div>
 </div>

 <div class="col-md-6">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Top 25 authors by line modifieds</b></h3>
   </div>
   <div class="panel-body">
    <div id="topauthors_m_gravatar">
     <div class="row-fluid">
      % for n, i in enumerate(top_authors_modified[0:3], start=1):
      <div class="col-md-4">
       <%
        if n == 1:
         n = "1 st"
        elif n == 2:
         n = "2 nd"
        elif n == 3:
         n = "3 rd"
       %>
       <div align="center"><p><b><h3>${n}</h3></b></p></div>
       <div align="center"><p><b><h4>${i['amount']} line modifieds</h4></b></p></div>
       <div align="center">
        <a href=contributor.html?cid=${i['cid']}>
         <img src="https://www.gravatar.com/avatar/${i['gravatar']}?s=150&d=wavatar" title="${i['name']}">
        </a>
       </div>
       <div align="center"><p><b><h3><a href=contributor.html?cid=${i['cid']}>${i['name']}</a></h3></b></p></div>
      </div>
      % endfor
     </div>
    </div>
    <hr />
    <div id="topauthors_m">
     <div id="topauthors_m_table">
      <table class="table table-striped">
       <tr>
        <th class="col-md-1">Rank</th>
        <th>Author name</th>
        <th>Amount</th>
       </tr>
       % for n, i in enumerate(top_authors_modified[3:], start=4):
       <tr>
        <td>${n}</td>
        <td><span style='padding-right: 5px'><img src="https://www.gravatar.com/avatar/${i['gravatar']}?s=25&d=wavatar" title="${i['name']}"></span><span><b><a href=contributor.html?cid=${i['cid']}>${i['name']}</a></b></span></td>
        <td>${i['amount']}</td>
       </tr>
       % endfor
      </table>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

<div class="row-fluid">
 <div class="col-md-12">
  <div class="panel panel-default">
   <div class="panel-heading">
       <h3 class="panel-title text-left"><b>Project commits</b><i> (Limited to 100 pages)</i><span id="commits-table-progress"></span></h3>
   </div>
   <div id="commits-table">
   </div>
   <div class="panel-footer">
    <div class="block-center">
     <div id="pagination">
    </div>
   </div>
  </div>
 </div>
</div>

<div class="row-fluid">
</div>
<script type="text/javascript">
 % if pid:
 project_page_init('${pid}', undefined);
 install_paginator('${pid}', undefined, undefined, undefined, '${commits_amount}');
 get_metadata_keys('${pid}', undefined, undefined);
 get_commits('${pid}', undefined, undefined, undefined, undefined);
 get_releases('${pid}', undefined);
 % elif tid:
 project_page_init(undefined, '${tid}');
 install_paginator(undefined, '${tid}', undefined, undefined, '${commits_amount}');
 get_metadata_keys(undefined, '${tid}', undefined);
 get_commits(undefined, '${tid}', undefined, undefined);
 get_releases(undefined, '${tid}');
 % endif
</script>
% else:
<div class="row-fluid">
 <div class="col-md-12">
  <div class="alert alert-warning text-center">
   <strong>This project does not contains any commit or the filter you setup returned nothing.</strong>
  </div>
 </div>
</div>
<script type="text/javascript">
 project_page_init('${pid}', '${tid}');
</script>
% endif
