<%inherit file="layout.html" />

<%def name="title()">
  [RepoXplorer] - Projects listing
</%def>

<div class="row-fluid">
 <div class="col-md-12">
  <div class="jumbotron">
   <h3>Listing of projects referenced in the database. You can click on them to display details.</h3>
  </div>
 </div>
</div>

<div class="row-fluid">
 <div class="col-md-12">
  <% ntags = len(tags) %>
  % if ntags > 0:
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title text-left"><b>Tags list</b></h3>
   </div>
   <div class="panel-body">
     <h4>
     % for tag in tags:
     <a href="project.html?tid=${tag}">${tag}</a>
     % endfor
     </h4>
   </div>
  </div>
  % endif
 </div>
</div>

<div class="row-fluid">
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4 form form-inline">
            <div class="form-group" id="projects-filter-form">
                <label for="projects-filter-input">Filter projects</label>
                <input id="projects-filter-input" class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="col-md-12"><hr></div>
</div>


<div class="row-fluid">
 <%
 filtered = {}
 for project, refslist in projects.items():
    filtered[project] = {}
    for ref in refslist:
        filtered[project].setdefault(ref['name'], [])
        filtered[project][ref['name']].append(ref['branch'])
 %>
 % for project, repos in filtered.items():
     % for repo, branches in repos.items():
     <div class="col-md-2" id="project-panel-${project}-${repo}">
     <div data-repoid="${project}-${repo}" class="panel panel-default">
         <div class="panel-heading">
             <h3 class="panel-title">
                 <%
                 inc_repos=""
                 for branch in branches:
                     inc_repos += "%s:%s," % (repo, branch)
                 inc_repos = inc_repos.rstrip(',')
                 %>
                 <a href="project.html?pid=${project}"><b>${project}</b></a><b>/</b><a href="project.html?pid=${project}&inc_repos=${inc_repos}">${repo}</a>
             </h3>
         </div>
     </div>
     </div>
     % endfor
 % endfor
 </div>
 <script type="text/javascript">
  projects_page_init();
 </script>
