<%inherit file="layout.html" />

<div class="row-fluid">

 <div class="col-md-12">
  <div class="jumbotron">
   <h1>${pid} project details</h1>
   <p>This page displays some details about the project. You'll find a commit histogram,
   a list of top contributors, and a commit explorator. Use the filtering box to limit
   details to a specific time slot.</p>
  </div>
 </div>

</div>

<div class="row-fluid">

 <div class="col-md-12">
  <div class="panel panel-default">
   <div class="panel-heading"><b>Filters</b></div>
   <div class="panel-body">
    <div id="filters">
     <span>From date: <input type="text" id="fromdatepicker"></span>
     <span>To date: <input type="text" id="todatepicker"></span>
     <input id="filter" type="button" value="Apply filter" />
     % if period[0] and period[1]:
     <p><b>The following project details are extracted from the period between ${period[0]} to ${period[1]}</b></p>
     % endif
    </div>
   </div>
  </div>
 </div>

</div>

<div class="row-fluid">

 <div class="col-md-3">
  <div class="panel panel-default">
   <div class="panel-heading"><b>Project infos</b></div>
   <div class="panel-body">
    <div id="infos">
     <div><b>Amount of sub-projects:</b> ${subprojects}</div>
     <div><b>Amount of commits:</b> ${commits_amount}</div>
     <div><b>Amount of authors:</b> ${authors_amount}</div>
     <div><b>Project has been active for:</b> ${duration}</div>
     <div><b>Date of first commits:</b> ${first}</div>
     <div><b>Date of last commits:</b> ${last}</div>
    </div>
   </div>
  </div>
 </div>

 <div class="col-md-9">
  <div class="panel panel-default">
   <div class="panel-heading"><b>Commits history</b></div>
   <div class="panel-body">
    <div id="history">
    </div>
   </div>
  </div>
 </div>

</div>

<div class="row-fluid">

 <div class="col-md-6">
  <div class="panel panel-default">
   <div class="panel-heading"><b>Top 25 authors by commit amount</b></div>
   <div class="panel-body">
    <div id="topauthors_gravatar">
     <div class="row-fluid">
      % for n, i in enumerate(top_authors[0:3], start=1):
      <div class="col-md-4">
       <%
        if n == 1:
         n = "1 st"
        elif n == 2:
         n = "2 nd"
        elif n == 3:
         n = "3 rd"
       %>
       <div align="center"><p><b><h3>${n}</h3></b></p></div>
       <div align="center"><p><b><h4>${i['amount']} commits</h4></b></p></div>
       <div align="center">
        <img src="https://www.gravatar.com/avatar/${i['gravatar']}?s=150&d=wavatar" title="${i['name']}">
       </div>
       <div align="center"><p><b><h3>${i['name']}</h3></b></p></div>
      </div>
      % endfor
     </div>
    </div>
    <hr />
    <div id="topauthors">
     <div id="topauthors_table">
      <table class="table table-striped">
       <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Amount</th>
       <tr>
       % for n, i in enumerate(top_authors[3:], start=4):
       <tr>
        <td>${n}</td>
        <td>${i['name']}</td>
        <td>${i['amount']}</td>
       <tr>
       % endfor
      </table>
     </div>
    </div>
   </div>
  </div>
 </div>

 <div class="col-md-6">
  <div class="panel panel-default">
   <div class="panel-heading"><b>Top 25 authors by amount of line modified</b></div>
   <div class="panel-body">
    <div id="topauthors_m_gravatar">
     <div class="row-fluid">
      % for n, i in enumerate(top_authors_modified[0:3], start=1):
      <div class="col-md-4">
       <%
        if n == 1:
         n = "1 st"
        elif n == 2:
         n = "2 nd"
        elif n == 3:
         n = "3 rd"
       %>
       <div align="center"><p><b><h3>${n}</h3></b></p></div>
       <div align="center"><p><b><h4>${i['amount']} line modifieds</h4></b></p></div>
       <div align="center">
        <img src="https://www.gravatar.com/avatar/${i['gravatar']}?s=150&d=wavatar" title="${i['name']}">
       </div>
       <div align="center"><p><b><h3>${i['name']}</h3></b></p></div>
      </div>
      % endfor
     </div>
    </div>
    <hr />
    <div id="topauthors_m">
     <div id="topauthors_m_table">
      <table class="table table-striped">
       <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Amount</th>
       <tr>
       % for n, i in enumerate(top_authors_modified[3:], start=4):
       <tr>
        <td>${n}</td>
        <td>${i['name']}</td>
        <td>${i['amount']}</td>
       <tr>
       % endfor
      </table>
     </div>
    </div>
   </div>
  </div>
 </div>

<div class="row-fluid">
 <div class="col-md-12">
  <div class="panel panel-default">
   <div class="panel-heading"><b>Project commits (${commits_amount})</b></div>
   <div id="commits-table">
   </div>
   <div class="panel-footer">
    <div class="block-center">
     <div id="pagination">
    </div>
   </div>
  </div>
 </div>
</div>

<div class="row-fluid">
</div>

<script type="text/javascript">
 var histo = jQuery.parseJSON('${histo}');
 gen_histo(histo);
 install_date_pickers('${pid}');
 install_paginator('${pid}', '${commits_amount}');
 get_commits('${pid}');
</script>
