---
- hosts: test-node
  tasks:
    - name: "Get workspace directory"
      command: pwd
      register: pwd_command
      args:
        chdir: "src/{{ zuul.project.canonical_hostname }}/"
    - name: "Set workspace"
      set_fact:
        workspace: "{{ pwd_command.stdout }}"
    - name: "Install some required packages"
      package:
        name: which
        state: latest
    - name: Extract ElasticSearch 2.4.0 archive
      unarchive:
        src: https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.0/elasticsearch-2.4.0.tar.gz
        dest: "{{ workspace }}"
        remote_src: yes
    - name: Start ElasticSearch
      command: "{{ workspace }}/elasticsearch-2.4.0/bin/elasticsearch -d"
    - name: Get processes list
      command: ps axf
    - name: Run unit tests
      command: tox -e{{ tox_target }}
      args:
        chdir: "{{ zuul.project.src_dir }}/"
